body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #FF8C00;
}

.cake-item {
    border: 1px solid #FF8C00;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}

.cake-item h2 {
    margin: 0;
}
